/* Ubah warna tema */
/* Warna di bawah ini adalah default, silakan diubah nilai warnanya sesuai selera */

:root {
  --primary-color: #D42A33;
  --secondary-color: #000000;
  --tertiary-color: #B0000C;
}